:root { 
--gray_52:#f8f9fa; 
--blue_A701:#0061ff; 
--gray_51:#fafcff; 
--bluegray_50:#eaecf0; 
--black_900_b2:#000000b2; 
--gray_53:#fcfcfc; 
--red_700:#d03329; 
--blue_A700:#0a58ff; 
--light_blue_100:#b0e5fc; 
--red_200:#fa9a9a; 
--green_A100:#b5eacd; 
--black_900_3f:#0000003f; 
--green_601:#1ea84d; 
--green_600:#349765; 
--gray_50:#f9fbff; 
--gray_900_a5:#070b2ea5; 
--black_900:#000000; 
--black_901:#130e00; 
--bluegray_100_6c:#d1d3d46c; 
--gray_700_11:#55555511; 
--gray_700:#666666; 
--amber_500:#feb909; 
--gray_900:#0d1624; 
--bluegray_100:#d6dae2; 
--black_900_0c:#0000000c; 
--gray_200:#efefef; 
--gray_300:#e0e0e0; 
--blue_50:#e0ebff; 
--bluegray_900:#262b35; 
--bluegray_701:#424c5d; 
--white_A700_66:#ffffff66; 
--bluegray_800:#37334d; 
--bluegray_700:#535763; 
--bluegray_401:#75839d; 
--bluegray_400:#74839d; 
--bluegray_300:#9ea8ba; 
--bluegray_200:#bac1ce; 
--blue_200:#a6c8ff; 
--white_A700:#ffffff; 
}